@import "base/variables";
@import "layout/footer";
@import "layout/header";
@import "inicio";

*{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 400;
}
body{
    background-color: $verde-fondo;
    text-align: justify;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}


