@import "../base/variables";

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    div{
        width: 170px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a{
            text-align: center;
        }
    }
}